.ac{
  width:95%;
  height:100%;
z-index: 100;}
.mdl{
  left:110px;
}
.dbtn{
  top:0px;
}
/*custom styling for ag grid theme */
.ag-theme-quartz-dark {
  /* Changes the color of the grid text */
    --ag-foreground-color: rgb(233, 237, 244);
    /* Changes the color of the grid background */
    --ag-background-color: rgb(241, 247, 255);
    /* Changes the header color of the top row */
    --ag-header-background-color: rgb(228, 237, 250);
    /* Changes the hover color of the row*/
    --ag-row-hover-color: rgb(216, 226, 255);
}